:root {
    --main-view-top-title: 35px;
    --main-view-width: 1920px;
    --main-title-background: #4151F520;
    --main-title-font-color: #505DED;
    --main-title-font-style: "PingFang SC";
    --main-title-font-size: 20px;
    --main-border-color: #4157f530;
}
